<div class="col-md-2 no-padding-left hidden-sm hidden-xs">
    <div class="left-sidebar">
        <div id="sidebar-stick" >
            <ul class="menu-sidebar">
                {% comment %}<li><a href="/home"><i class="fa fa-home"></i>Home</a></li>

                <li><a href="/canal"><i class="fa fa-user-circle"></i>Channel</a></li>
                <li><a href="/history"><i class="fa fa-clock-o"></i>History</a></li>
                <li><a href="/upload"><i class="fa fa-upload"></i>upload</a></li>{% endcomment %}
            </ul>
            <ul class="menu-sidebar">
                {% comment %}<li><a href="/modificarUserInfo"><i class="fa fa-edit"></i>editar perfil</a></li>
                <li><a href="/logout"><i class="fa fa-sign-out"></i>sing out</a></li>{% endcomment %}
            </ul>
        </div><!-- // sidebar-stick -->
        <div class="clear"></div>
    </div><!-- // left-sidebar -->
</div><!-- // col-md-2 -->